nvidia-curand-cu11==10.3.0.86
dill==0.4.1
nvidia-cuda-runtime-cu11==11.8.89
triton==3.3.1
smmap==5.0.3
pydantic==2.12.5
wheel==0.46.3
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.21.5
idna==3.11
pip==26.0.1
tomli==2.4.1
protobuf==6.33.6
nvidia-cusolver-cu11==11.4.1.48
nvidia-cufft-cu11==10.9.0.58
nvidia-cuda-cupti-cu11==11.8.87
tomlkit==0.14.0
pylint==4.0.5
cloudpickle==3.1.2
urllib3==2.6.3
wandb==0.25.1
certifi==2026.2.25
astroid==4.0.4
Farama-Notifications==0.0.4
mccabe==0.7.0
pydantic_core==2.41.5
nvidia-nvtx-cu11==11.8.86
annotated-types==0.7.0
charset-normalizer==3.4.7
gymnasium==0.29.1
packaging==26.0
GitPython==3.1.46
pillow==12.1.1
torch==2.7.1+cu118
PyYAML==6.0.3
nvidia-cudnn-cu11==9.1.0.70
networkx==3.4.2
typing_extensions==4.15.0
mpmath==1.3.0
Jinja2==3.1.6
setuptools==82.0.1
MarkupSafe==3.0.3
torchvision==0.22.1+cu118
sympy==1.14.0
typing-inspection==0.4.2
numpy==2.2.6
requests==2.33.1
sentry-sdk==2.57.0
nvidia-cuda-nvrtc-cu11==11.8.89
filelock==3.25.2
gitdb==4.0.12
platformdirs==4.9.6
isort==8.0.1
nvidia-cublas-cu11==11.11.3.6
fsspec==2026.2.0
click==8.3.2
